.user-card {
  margin-bottom: 3px;
  flex-grow: 1;
  padding: 7px;
  color: white;
  display: flex;
  align-items: center;
}

.user-card:hover {
  background-color: #2c2d34;
  border-radius: 6px;
}

.user-card .user-icon {
  position: relative;
  font-size: 3rem;
  color: white;
  margin-right: 5px;
}

.user-card .user-icon .online-circle {
  position: absolute;
  bottom: 5px;
  right: -5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 5px solid #232529;
  background-color: green;
}

.user-card .user-icon .online-circle:hover {
  background-color: greenyellow;
}

.user-card .user-name {
  font-size: 1.2rem;
  opacity: 0.7;
  font-weight: bold;
  margin-right: 5px;
}

.user-card .channel-owner-icon {
  font-size: 1.5rem;
  color: yellow;
}

.user-card.offline {
  opacity: 0.5;
}
