/* header bar */
.header-bar-container {
  height: 70px;
  box-shadow: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05),
    0 2px 0 rgba(4, 4, 5, 0.05);
  padding: 0 15px;
  display: flex;
}

.header-bar-container .chat-title {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.header-bar-container .chat-hashtag {
  display: inline;
  font-size: 1.5rem;
  color: grey;
  padding: 0 10px 0 0;
}

.header-bar-container .chat-title .text {
  display: inline;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}
