.message {
  position: relative;
  word-wrap: break-word;
  user-select: text;
  color: white;
  padding-left: 70px;
  padding-right: 50px;
  padding-top: .125rem;
  padding-bottom: .125rem;
}

.profile {
  font-size: 2.5rem;
  position: absolute;
  left: 16px;
  margin-top: calc(4px - .125rem);
  border-radius: 50%;
  cursor: pointer;
  flex: 0 0 auto;
  overflow: hidden;
}

.userinfo {
  overflow: hidden;
  display: block;
  position: relative;
  line-height: 1.375rem;
  min-height: 1.375rem;
}

.username {
  margin-right: .25rem;
  font-weight: bold;
  display: inline;
}

.date-info {
  font-size: 0.5rem;
  line-height: 1.375rem;
  color: grey;
  vertical-align: baseline;
  margin-left: .25rem;
  display: inline;
}

.message-context {
  margin-left: -72px;
  padding-left: 72px;
  line-height: 1.375rem;
}