.leftmenu {
  display: flex;
  flex-direction: column;
  width: 350px;
  background-color: var(--leftmenu-bg-color);
}

.leftmenu-content-container {
  position: relative;
  flex-grow: 1;
}

.leftmenu-popup {
  position: absolute;
  display: none;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  width: 0%;
  background-color: #131316;
  border-radius: 10px;
  transition: width 0.05s ease, display 0s;
}

.leftmenu-popup.visible {
  display: block;
  min-height: 200px;
  width: 90%;
}

.leftmenu-popup .popup-item-list {
  margin-top: 30px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.leftmenu-popup .popup-item-list .popup-item {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 30px;
  margin-bottom: 5px;
  border-radius: 6px;
  font-size: 1.3rem;
  color: white;
  opacity: 0.7;
}

.leftmenu-popup .popup-item-list .popup-item:hover {
  background-color: #4b5b9f;
  opacity: 1;
}

.leftmenu-popup .popup-item-list .popup-item .popup-item-label {
  flex-grow: 1;
  font-weight: bold;
}

.leftmenu-popup .popup-item-list .popup-item .popup-item-icon {
  font-size: 2rem;
}
