.lefmenu-title-container {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
  padding: 0 15px;
  box-shadow: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05),
    0 2px 0 rgba(4, 4, 5, 0.05);
}

.title {
  position: relative;
  flex-grow: 1;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.title-icon-box {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border: 1px solid red;
}

.title-icon {
  display: flex;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  color: white;
}
