.navbar {
  width: 100px;
  height: 100vh;
  background-color: var(--navbar-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.item-seperator {
  width: 40px;
  height: 4px;
  border-radius: 20%;
  background-color: #343538;
}
