.nav-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
}
.nav-item:hover .hover-effect-bar {
  visibility: visible;
  top: 30%;
  width: 12px;
  height: 40%;
}

.hover-effect-bar {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: -6px;
  width: 6px;
  height: 0%;
  background-color: white;
  border-radius: 0 4px 4px 0;
  transition: width 0.2s ease-out, height 0.2s ease-out, top 0.2s;
}

.server-item {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  width: 80px;
  height: 80px;
  background-color: #414348;
  border-radius: 50%;
  transition: border-radius 0.2s ease-out, background-color 0.15s ease-out;
}

.server-item-image {
  width: 60px;
  height: 60px;
}

.server-item:hover {
  background-color: #5f73d2;
  border-radius: 40%;
}
